.texto0 {color: #404141; font-size: 17px; font-family: 'Open Sans', sans-serif; width: 680px; margin: 30px auto; font-weight: 300; text-align: center;}
.textoBold {color: #404141; font-size: 17px; font-family: 'Open Sans', sans-serif; width: 680px; margin: 30px auto; font-weight: 300; text-align: center;}
.form_insc{
	float: top;
	width: 600px;
	padding: 0 0 0 28px;
	line-height: 25px;
    margin-left: auto;
	margin-right: auto;	
}

.form_busqueda{
	float: top;
	width: 600px;
	padding: 0 0 0 28px;
	line-height: 25px;
        margin-left: 30px;
	margin-right: auto;	
}


/* The CSS */
select {
    padding:3px;
    margin: 0;
    width: 99%;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:2px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #F3F3F3;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin-bottom: 10px!important;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.contour-btn30 {
	line-height: 30px!important;
}

.boton_MargenSup{
	margin-top: 40px!important;
}
.datosformularios{
    text-align: left;
    margin-left: 100px;
}
.cuadrante{
    margin-left: 10px;
}
#mail{
	width: 295px;    
}
#celular{
	width:194px;
}
.cuadrante1{
    margin-left: 10px;
}
#fecha {
    width: 180px;
}
#nombre {
    width: 275px;
}
#apellido {
    width: 275px;
}
#xnombre {
    width: 225px; 
}

#xnacimiento {
    width: 122px; 
}

#xhdesde{
    width: 303px;
}

#xhhasta{
    width: 307px;
}
#xpdesde{
    width: 160px;
}

#xphasta{
    width: 164px;
}
/*administradorPartidoNuevo*/
#horaPartidoNuevo{
	width: 98%;
}

#fechaPartidoNuevo{
	width:84%;
}
/*administradorPartidoNuevo*/
#horaPartidoModificado{
	width: 98%;
}

#fechaPartidoModificado{
	width: 98%;
}
Modificado
/* administradorJugadorNuevo*/
.datosformulariosbusqueda2{
    margin-right: 290px; 
}
.datosformulariosbusqueda3{
    margin-right: 250px;
}
#tablaNombres{
    width: 100%
}

/* generarFormaciones */
.datosformularioformaciones{
    text-align: left;
    margin-left: 100px;
}

#npartidos{
    width: 30px;}

#mixpartidos{
    width: 30px;}


.margenes{
    margin-bottom: 20px;
}

/* TABLAS PARTIDOS*/
.tablaOPF1 th td{
	text-align: center;
}
.tablaOPF1 th{
	text-align: center;
}


.tablaOPF1 a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.tablaOPF1 a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.tablaOPF1 a:active,
.tablaOPF1 a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.tablaOPF1 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.tablaOPF1 th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.tablaOPF1 tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.tablaOPF1 tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.tablaOPF1 tr{
	text-align: center;
	padding-left:20px;
}

.tablaOPF1 tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablaOPF1 tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablaOPF1 tr:last-child td{
	border-bottom:0;
}
.tablaOPF1 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.tablaOPF1 tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.tablaOPF1 tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/* TABLAS PARTIDOS 2*/
.tablaOPF2 th td{
	text-align: center;
}
.tablaOPF2 th{
	text-align: center;
}


.tablaOPF2 a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.tablaOPF2 a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.tablaOPF2 a:active,
.tablaOPF2 a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.tablaOPF2 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.tablaOPF2 th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.tablaOPF2 tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.tablaOPF2 tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.tablaOPF2 tr{
	text-align: center;
	padding-left:20px;
}

.tablaOPF2 tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablaOPF2 tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablaOPF2 tr:last-child td{
	border-bottom:0;
}
.tablaOPF2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.tablaOPF2 tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

/* TABLAS 3*/
.tablaOPF3 th td{
	text-align: center;
}
.tablaOPF3 th{
	text-align: center;
}


.tablaOPF3 a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.tablaOPF3 a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.tablaOPF3 a:active,
.tablaOPF3 a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.tablaOPF3 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.tablaOPF3 th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.tablaOPF3 tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.tablaOPF3 tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.tablaOPF3 tr{
	text-align: center;
	padding-left:20px;
}

.tablaOPF3 tr td {
	padding:3px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablaOPF3 tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablaOPF3 tr:last-child td{
	border-bottom:0;
}
.tablaOPF3 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.tablaOPF3 tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

.negrita{
	font-weight: bold;
}

/* TABLAS 3*/
.tablaOPF4 th td{
	text-align: center;
}
.tablaOPF4 th{
	text-align: center;
}


.tablaOPF4 a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.tablaOPF4 a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.tablaOPF4 a:active,
.tablaOPF4 a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.tablaOPF4 {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
.tablaOPF4 th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.tablaOPF4 tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.tablaOPF4 tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.tablaOPF4 tr{
	text-align: center;
	padding-left:20px;
}

.tablaOPF4 tr td {
	height: 40px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	text-align:center;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablaOPF4 input{
	text-align: center;
}
.tablaOPF4 tr.even td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablaOPF4 tr:last-child td{
	border-bottom:0;
}
.tablaOPF4 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.tablaOPF4 tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

.negrita{
	font-weight: bold;
}


/*TABLA INFRACCIONES*/
#tablaInfraccion{
	width: 600px;
}

.headerInfraccion{
	padding:10px!important;
	border-top:1px solid #fafafa!important;
	border-bottom:1px solid #e0e0e0;

	background-color: black!important;
	background
	color: white;
	
}


/*MODAL MASK - VENTANA MODAL*/
.modalmask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
}
.modalmask:target {
        opacity:1;
        pointer-events: auto;
}
.modalbox{
        width: 700px;
        height: 400px;
        position: relative;
        padding: 5px 20px 13px 20px;
        background: #fff;
        border-radius:3px;
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        transition: all 500ms ease-in;

}

.movedown {
        margin: 0 auto;
}
.modalmask:target .movedown{		
        margin:10% auto;
}

.close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        border-radius:3px;
        font-size:16px;
}

.close:hover { 
        background: #FAAC58; 
        color:#222;
}

#divModal ul{
        width:500px;
        margin:20% auto;
        list-style:none;
}
#divModal ul li{

        float:left;
        margin-right:35px;

}
#divModal ul li a{
        font-size:16px;
        text-decoration:none;
        background:#222;
        padding:20px;
        color:#fff;
        font-weight:bold;
        border-radius:3px;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
}
#divModal ul li a:hover{
        background:#FAAC58;
        color:#222;

}

.modalbox a{
        text-decoration:none;
        font-size:25px;
        color:#222;

}
.modelbox a:hover{

        color:#DF7401;

}
.nsc{
        position:absolute;
        bottom:40%;
        right:0;
}


.centro{
        position:absolute;
        width:700px;
        height:600px;
        top:50%;
        left:50%;
        margin-left:-350px;
        margin-top:-250px;	

}

h1{
        font-size:20px;
}

.botonOPF1{
	line-height: 30px!important;
	width: 490px;
	font-size: 0.7em;
	line-height: 26px;
	font-weight: 300;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	padding: 0 60px;
	border-radius: 0px;
	background: #EB7226;
	border: none;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}

.botonOPF1:hover {
color: #fff;
background: #CC5A1B !important;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}
.botonOPF1 > a {
	color: white;
	text-decoration:none;
}

.submitOPF1{
	line-height: 30px!important;
	line-height: 26px;
	font-weight: 300;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	border-radius: 0px;
	background: #EB7226;
	border: none;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	margin-bottom: 10px;
}

.submitOPF1:hover {
color: #fff;
background: #CC5A1B !important;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
}
.submitOPF1 > a {
	color: white;
	text-decoration:none;
}
.submitOPF1 > input{
	width: 610px!important;
}

.inputOPF1{
	height:100%!important;
	width: 98%!important;
}

.inputOPF1:focus{
	outline: 0;	
}


#div1{
	width: 600px;
	margin: auto;
}